#client-search-container{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

#client-search-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
}

#client-search-content > h1{
    align-self: center;
    font-size: 3em;
}

#client-search-add-client, #client-search-button{
    padding: .5em 1em;
    font-size: 1rem;
    font-weight: 500;
    background-color: turquoise;
}

#client-search-add-client:hover, #client-search-button:hover{
    background-color: mediumturquoise;
}


#client-search-content > label{
    margin-top: 1em;
    font-size: 1.5em;
}

#client-search-content > input{
    width: 100%;
    font-size: 2em;
}

#client-search-button{
    align-self: center;
}

#client-search-button:hover, #client-search-add-client {
    cursor: pointer;
}

#client-search-loading{
    padding-top: 5vh;
    margin: auto;
}

#client-search-results {
    margin-top: 1em;
    border-collapse: collapse;
    width: 100%;
}

#client-search-results table, #client-search-results thead > tr > th, #client-search-results tbody > tr > td {
    border: 1px solid black;
}

#client-search-results tbody > tr:hover {
    background-color: turquoise;
    cursor: pointer;
}