#forgot-password-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

#forgot-password-container > h1{
    font-size: 4rem;
}


/* Styling for Username Input */

.forgot-password-question-form{
    display: flex;
    flex-direction: column;
    width: 50vh;
}

.forgot-password-question-form > label{
    font-size: 1.25em;
    padding-bottom: .5em;
}

.forgot-password-question-form > input{
    height: 3em;
    margin-bottom: .5em;
}

.forgot-password-question-form > input[type=text]{
    padding-left: .5em;
}

#forgot-password-login-button{
    padding: .5em 1em;
    background-color: turquoise;
    margin-top: 1em;
}


.forgot-password-input-container{
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.forgot-password-input-container > label{
    font-size: 1.25em;
}

.forgot-password-input-container > button{
    width: 25%;
    align-self: center;
    background-color: turquoise;
}

.forgot-password-input-container > button:hover, #forgot-password-login-button:hover {
    background-color: mediumturquoise;
}



/* Styling for Security Question Input */
