#forgot-password-background{
    background-color: #f8f8ff;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-content: c;
}

#forgot-password-container{
    width: 80%;
    height: 90vh;
    background-color: white;
    border: solid 1px grey;
    border-radius: 1em;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#forgot-password-container > h1{
    font-size: 4rem;
}


/* Styling for Username Input */

.forgot-password-question-form{
    display: flex;
    flex-direction: column;
    width: 50vh;
}

.forgot-password-question-form > label{
    font-size: 1.25em;
    padding-bottom: .5em;
}

.forgot-password-question-form > input{
    height: 3em;
    margin-bottom: .5em;
}

.forgot-password-question-form > input[type=text]{
    padding-left: .5em;
}

#forgot-password-login-link{
    display: flex;
    justify-content: center;
}

a:hover{
    text-decoration: none;
}

#forgot-password-login-button{
    padding: .5em 1em;
    background-color: turquoise;
    margin-top: 1em;
}


.forgot-password-input-container{
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.forgot-password-input-container > label{
    font-size: 1.25em;
}

.forgot-password-input-container > button{
    width: 25%;
    align-self: center;
    background-color: turquoise;
}

.forgot-password-input-container > button:hover, #forgot-password-login-button:hover {
    background-color: mediumturquoise;
    text-decoration: none;
}





@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #forgot-password-container{
        height: 90vw;
        width: 90%;
    }
}