#login-background{
    background-color: #f8f8ff;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#login-container{
    width: 80%;
    height: 90vh;
    background-color: white;
    border: solid 1px grey;
    border-radius: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#login-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container > h1 {
    font-size: 4rem;
    text-decoration: underline;
    text-align: center;
}

#login-form {
    width: 25vh;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vh;
}


#login-form > .login-form-input {
    height: 2em;
    width: 50vh;
}

#login-form > .login-form-input[type=text], .login-form-input[type=password] {
    padding-left: .5em;
}

#login-link-forgot-pass{
    text-decoration: none;
    color: turquoise;
}

#login-link-register, #login-form-submit{
    margin: 1em;
    padding: .5em 2em;
    background-color: turquoise;
    color: white;
    align-self: center;
}

#login-form-submit:hover, #login-link-register:hover {
    background-color: mediumturquoise;
    cursor: pointer;
}

#login-link-forgot-pass p:hover  {
    color: mediumturquoise;
    text-decoration: underline;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    #login-container{
        height: 90vw;
        width: 90%;
    }
}
